body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
}

/* Moving Box */
.box{
    height: 80px;
    width: 80px;
    background-color: skyblue;
    position: relative;
    animation: bounce 0.01s infinite alternate;
}

@keyframes bounce{
    0%{
        left:0;
        background-color:red;
    }
    25%{
        left:100px;
        background-color:orange;
    }
    50%{
        left:200px;
        background-color:yellow;
    }
    75%{
        left:300px;
        background-color:green;
    }
    100%{
        left:0;
        background-color:blue;
    }
}

/* Color Change Box */
.box1{
    width:80px;
    height:80px;
    background-color:red;
    position:relative;
    margin:20px auto;
    animation: colorchange 0.01s infinite alternate;
}

@keyframes colorchange{
    from{
        background-color:yellow;
        left:0;
    }
    to{
        background-color:palevioletred;
        left:300px;
    }
}

/* Spinner */
.spinner{
    width:80px;
    height:80px;
    border:8px solid lightgray;
    border-top:8px solid blue;
    border-radius:50%;
    margin:30px auto;
    animation: spin 0.01s linear infinite;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}